<div class="block-tabs block-tabs-{{ block.id }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.css_class %} {{ block.settings.css_class }}{% endif %}">
  <div class="tabs-navigation color-{{ block.settings.color_scheme }}" role="tablist"></div>
  <div class="tabs-content color-{{ section.settings.color_scheme }}">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "t:blocks.tabs.label",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:blocks.page_section.settings.color_scheme.label",
    },
    {
      "type": "header",
      "content": "t:blocks.all.settings.css_header.content"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "t:blocks.all.settings.css_class.label",
      "info": "t:blocks.all.settings.css_class.info"
    },
  ],
  "blocks": [{ "type": "_tab" }],
  "presets": [
    { "name": "t:blocks.tabs.presets.name" }
  ]
}
{% endschema %}
