{% if cart == empty %}
  <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
{% else %}
  <span class="svg-wrapper"><svg width="19" height="19" viewbox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" role="presentation">
<path d="M16.4229 4.88461H14.1152C14.1152 3.66054 13.6289 2.4866 12.7634 1.62104C11.8978 0.755492 10.7239 0.26923 9.49981 0.26923C8.27574 0.26923 7.1018 0.755492 6.23624 1.62104C5.37069 2.4866 4.88443 3.66054 4.88443 4.88461H2.57674C1.9647 4.88461 1.37773 5.12775 0.94495 5.56052C0.512174 5.9933 0.269043 6.58027 0.269043 7.19231L0.269043 14.8846C0.270264 15.9043 0.675875 16.8819 1.3969 17.6029C2.11793 18.3239 3.09551 18.7295 4.1152 18.7308H14.8844C15.9041 18.7295 16.8817 18.3239 17.6027 17.6029C18.3237 16.8819 18.7294 15.9043 18.7306 14.8846V7.19231C18.7306 6.58027 18.4875 5.9933 18.0547 5.56052C17.6219 5.12775 17.0349 4.88461 16.4229 4.88461ZM9.49981 1.80769C10.3159 1.80769 11.0985 2.13187 11.6755 2.7089C12.2526 3.28594 12.5767 4.06856 12.5767 4.88461H6.42289C6.42289 4.06856 6.74706 3.28594 7.3241 2.7089C7.90113 2.13187 8.68376 1.80769 9.49981 1.80769ZM17.1921 14.8846C17.1921 15.4967 16.949 16.0836 16.5162 16.5164C16.0834 16.9492 15.4965 17.1923 14.8844 17.1923H4.1152C3.50316 17.1923 2.91619 16.9492 2.48341 16.5164C2.05064 16.0836 1.8075 15.4967 1.8075 14.8846V7.19231C1.8075 6.98829 1.88855 6.79264 2.03281 6.64838C2.17707 6.50412 2.37272 6.42308 2.57674 6.42308H4.88443V7.96154C4.88443 8.16555 4.96547 8.36121 5.10973 8.50547C5.25399 8.64972 5.44965 8.73077 5.65366 8.73077C5.85767 8.73077 6.05333 8.64972 6.19759 8.50547C6.34185 8.36121 6.42289 8.16555 6.42289 7.96154V6.42308H12.5767V7.96154C12.5767 8.16555 12.6578 8.36121 12.802 8.50547C12.9463 8.64972 13.142 8.73077 13.346 8.73077C13.55 8.73077 13.7456 8.64972 13.8899 8.50547C14.0342 8.36121 14.1152 8.16555 14.1152 7.96154V6.42308H16.4229C16.6269 6.42308 16.8226 6.50412 16.9668 6.64838C17.1111 6.79264 17.1921 6.98829 17.1921 7.19231V14.8846Z" fill="#3C6179"></path>
</svg></span>
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
