.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 8.5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 5.6rem;
  max-width: 5.6rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5.6rem;
  width: 100%;
  padding: 0;
  text-decoration: none;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

/* .pagination__item--current::after {
  height: 0.1rem;
}

.pagination__item--current::after,
.pagination__item:hover::after {
  content: '';
  display: block;
  width: 2rem;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
} */

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}

.pagination__list>li a:not(.pagination__item--next):not(.pagination__item--prev) {
  border: 1px solid rgba(35, 31, 32, 0.10);
  border-radius: 50px;
}

.pagination__item {
  color: var(--black);
  font-family: var(--font-body-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  opacity: 1;
}

.pagination__item--next .svg-wrapper,
.pagination__item--prev .svg-wrapper {
  width: auto;
  height: auto;
}