:root {
  --color-input-border: #8C9BB8;
}

input.input {
  border: 1px solid var(--color-input-border);
  border-radius: var(--buttons-radius);
  background: transparent;
  padding: 1rem 1.72rem;
  min-height: 45px;
  color: rgb(var(--color-foreground));
  transition: all 300ms ease;
  letter-spacing: var(--font-body-letter-spacing) !important;
  font-size: 14px;
}

.input:focus {
  border-color: rgb(var(--color-accent));
  outline: none;
  box-shadow: var(--accent-shadow);
}

.input::placeholder,
.input::-webkit-input-placeholder,
.input:-moz-placeholder,
.input::-moz-placeholder,
.input:-ms-input-placeholder {
  color: var(--color-input-border) !important;
  opacity: 1;
}

.form__message {
  margin: 2rem 0 0;
  font-weight: 400;
}

.form__message:focus-visible {
  outline: none;
  box-shadow: none;
}
