body.no-scroll {
  overflow: hidden;
}

#faq-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#faq-modal-container.is-open {
  display: flex;
}

#faq-modal {
  background: #fff;
  padding: 1rem 1rem 3rem;
  max-width: 1015px;
  width: 95%;
  border-radius: 20px;
  position: relative;
  border: none;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

.faq-modal__close {
  align-self: flex-end;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 2rem 2rem 0 0;
}

.faq-modal__content {
  overflow-y: auto;
  padding: 3rem 7rem 7rem;
}

.faq-modal__title {
  font-size: 57px !important;
  text-align: center;
  margin: 0;
  color: #061238;
}

@media (max-width: 989px) {
  .faq-modal__content {
    padding: 2rem 5rem 2rem;
  }

  .faq-modal__title {
    font-size: 48px !important;
  }

  .faq-modal__close {
    margin: 1.5rem 1.5rem 0 0;
  }
}

@media (max-width: 749px) {
  .faq-modal__content {
    padding: 2rem 3rem 2rem;
  }

  .faq-modal__title {
    font-size: 38px !important;
  }

  /* #faq-modal {

  } */
}
