.custom__featured--blog {
  overflow: hidden;
}

.custom__featured--blog .article-card {
  flex-direction: row;
  gap: 50px;
  border-radius: 10px;
  border: 1px solid rgba(35, 31, 32, 0.10);
  background: #FFF;
  padding: 30px 50px 30px 30px;
}

.custom__featured--blog .blog__posts {
  gap: 40px;
}

.custom__featured--blog .article-card .card__heading {
  margin-bottom: .6rem;
  color: var(--black);
  font-family: var(--font-body-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  margin: 0;
  letter-spacing: normal;
  text-transform: initial;
}

.custom__featured--blog .blog__title {
  max-width: 520px;
}

.custom__featured--blog .article-card__excerpt {
  text-align: left;
  margin: 20px 0 0;
}

.custom__featured--blog .blog__posts .article-card .card__information {
  padding: 0;
}

.custom__featured--blog .article-card .card__content {
  margin: 20px 0;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.custom__featured--blog .section--heading {
  margin: 0 0 60px;
}

.custom__featured--blog .article-card__info {
  text-align: left;
  padding: 0;
  margin: 60px 0 0;
  display: flex;
  align-items: center;
}

.custom__featured--blog .article-card__info span { 
  display: flex;
  align-items: center;
  letter-spacing: 0;
}

.custom__featured--blog .underline-links-hover:hover a {
        text-decoration: none;
}

.custom__featured--blog .article-card .card__content .button {
  margin: 30px 0 0;
  display: inline-block;
  width: auto;
}

.custom__featured--blog .article-card__info span:only-child:after {
  display: none;
}

.custom__featured--blog .article-card__info span svg {
  margin-right: 11px; 
}

.custom__featured--blog .article-card__info * {
  color: var(--black);
  font-family: var(--font-body-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
}

.custom__featured--blog .article-card__footer {
  margin: 0;
}

.custom__featured--blog .card__inner {
  border-radius: 10px;
  overflow: hidden;
}

.custom__featured--blog .card__content .circle-divider:after {
  margin: 0 1.3rem 0 1.5rem;
  content: '';
  width: 1px;
  height: 24px;
  background: #D9D9D9;
  display: inline-block;
}

@media screen and (max-width: 989px) {

  .custom__featured--blog .grid__item {
      width: 100% !important;
      max-width: 100%;
      margin: 0 !important;
  }

  .custom__featured--blog .blog__posts {
    gap: 40px;
    flex-direction: column;
  }

  .custom__featured--blog .blog__posts {
    gap: 40px;
    flex-direction: column;
    scrollbar-width: none;
    overflow-x: unset;
    scroll-padding-left: 0;
  }

  .custom__featured--blog .slider-buttons {
    display: none;
  }

  .custom__featured--blog {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

@media screen and (max-width: 749px) {
  
  .custom__featured--blog {
    padding-left: 15px;
    padding-right: 15px;
  }

  .custom__featured--blog .article-card {
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    
  }
  
  .custom__featured--blog .blog__posts {
    gap: 15px;
  }

  .custom__featured--blog .article-card .card__content {
    margin: 10px 0;
  }

  .custom__featured--blog .article-card .card__heading {
    font-size: 22px;
    line-height: 30px;
  }

  .custom__featured--blog .blog__title {
    text-align: center;
  }

  .custom__featured--blog .article-card__excerpt {
    margin: 15px 0 0;
  }

  .custom__featured--blog .article-card__info {
    margin: 30px 0 0;
  }
  
  .custom__featured--blog .section--heading {
    margin: 0 0 40px;
  }

  .custom__featured--blog .article-card__info * {
    font-size: 13px;
  }

  .custom__featured--blog .article-card__info span svg {
    margin-right: 6px;
  }
  
}
