
.featured__collection .grid__item {
    width: 100%;
    max-width: 100%;
}

@media (max-width:1339px) {
  
  .featured__collection.collection .button__price--wrapper .button--primary {
    padding: 6px 20px;
    font-size: 14px;
  }
  
}

@media (max-width:749px) { 
  
  .featured__collection .collection__title {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .featured__collection .grid__item .product-card-wrapper .card__content {
    padding: 40px 20px 30px;
  }

  .featured__collection.collection .button__price--wrapper .button--primary {
    padding: 5px 15px;
    font-size: 12px;
  }

  .featured__collection .product-card-wrapper .card__heading {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .featured__collection .grid__item .product-card-wrapper .card__content .card__information p {
    font-size: 16px;
    line-height: 26px;
  }

  .grid__item .product-card-wrapper .card__content .card__information {
    padding: 0 0 20px;
    margin-bottom: 20px;
  }
  
}

