@import url('vendor.css');
@import url('base.css');
@import url('section-page-section.css');
@import url('block-button.css');
@import url('block-image.css');
@import url('block-icons.css');
@import url('block-list.css');
@import url('block-tabs.css');
@import url('block-slider.css');
@import url('block-compare.css');
@import url('block-faqs.css');
@import url('component-form.css');
@import url('component-modal.css');
