.pdp__disclaimer--section .image__with--text--section {
  background-attachment: unset;
  background-size: cover;
}

.pdp__disclaimer--section .image-with-text__text, 
.pdp__disclaimer--section .image-with-text__text * {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 16px;
}

.pdp__disclaimer--section .image-with-text__text--caption,
.pdp__disclaimer--section .image-with-text__text--caption * {
  text-transform: initial;
  font-size: 12px;
  line-height: 20px;
}
