.page-section--content {
  position: relative;
  z-index: 2;
  background: transparent;
}

.page-section--gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.page-section--background {
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.page-section--background.mobile {
  display: none;
}

@media (max-width: 749px) {
  .page-section--background:not(.mobile) {
    display: none;
  }
  .page-section--background.mobile {
    display: block;
  }
}