.contact img {
  max-width: 100%;
}

.template--contact .header-wrapper {
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.05);
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.contact__form--wrapper {
  position: relative;
}

.contact__form {
  background: #FFF;
  box-shadow: 0px 0px 100px 0px rgba(33, 64, 154, 0.06);
  padding: 40px;
  width: 100%;
  max-width: 552px;
}

.contact__form--wrapper:before,
.contact__form--wrapper:after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 0;
}

.contact__form--wrapper:before {
  top: 0;
  height: 448px;
}

.contact__form--wrapper:after {
  bottom: 0;
  height: 343px;
}

.contact__form--wrapper .contact .title {
  color: var(--light-purple);
  font-family: var(--font-body-family);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: -2.1px;
  margin: 0 0 100px;
}

.contact__form--wrapper .contact {
  position: relative;
  z-index: 2;
}

.contact__form--wrapper .contact .title strong {
  color: #08024c;
}

.contact__form--info {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.contact__form .field:before,
.contact__form .field:after {
  display: none;
}

.contact__form .field {
  position: relative;
  margin-bottom: 24px;
}

.contact__form .field > svg {
  position: absolute;
  left: 36px;
  z-index: 9;
  width: 24px;
  height: auto;
  top: 24px;
}

.contact__form input,
.contact__form textarea {
  border: 1px solid rgba(35, 31, 32, .1);
  background: #f5f5f5;
  color: #999;
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -.36px;
  padding: 20px 36px 18px 36px !important;
  height: auto;
  min-height: auto;
  padding-left: 76px !important;
}

.contact__form .field .field__label {
  left: 76px;
  top: 27px;
  display: none;
}

.contact__form input::placeholder,
.contact__form .field__input::placeholder,
.contact__form textarea::placeholder {
  opacity: 1;
  display: block !important;
  color: var(--dark-grey);
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px !important;
  letter-spacing: -0.36px;
}

.contact__button {
  margin-top: 3.2rem;
}

.contact__field-error {
  margin-top: 10px;
  margin-left: 36px;
}

.contact .form__message {
  align-items: center;
  color: var(--dark-grey);
  margin: 0;
  box-shadow: none;
  outline: none;
}

.form-status {
  color: var(--dark-grey);
  font-family: var(--font-body-family);
}

.contact .form__message svg circle {
  fill: #08024c;
  stroke: #08024c;
}

.form-status-list li a {
  color: var(--dark-grey);
  text-decoration: none;
  font-family: var(--font-body-family);
}

.detail_label {
  color: #231f20;
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.icon__number--wrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 24px 0 40px;
}

.icon__number--wrapper svg {
  margin-top: 6px;
}

.icon__number--wrapper svg path {
  stroke: var(--light-purple);
}

.detail_text, .detail_text * {
  color: var(--light-purple);
  font-family: var(--font-body-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}

.detail_text p {
  margin: 0;  
}

.detail_text p a:hover {
  color: var(--light-purple);
}

.pattern_before, .pattern_after {
  position: absolute;
  z-index: 1;
  top: 0;
}

.pattern_before img, .pattern_after img { 
  width: 100%;
  height: auto;
}

.pattern_before {
  top: 0;
}

.pattern_after {
  bottom: 0;
  top: initial;
}

@media (max-width: 1199px) {
  
  .contact__form {
    max-width: 480px;  
  }

  .contact__form--info {
    gap: 50px;
  }
  
}

@media (max-width: 989px) { 

  .contact__form--info {
    gap: 25px;
    flex-wrap: wrap;
  }

  .contact__form {
    max-width: 728px;
  }

}

@media (max-width: 749px) { 

  .contact__form {
    padding: 30px 20px;
  }

  .contact__form input, .contact__form textarea {
    padding: 16px 36px 16px 56px !important;
  }

  .contact__form .field>svg {
    top: 20px;
    left: 20px;
  }

  .contact__form--wrapper .contact .title {
    margin: 0 0 30px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.1px;
  }

  .detail_text, .detail_text * {
    font-size: 20px;
    line-height: 26px;
  }

  .icon__number--wrapper {
    gap: 10px;
    margin: 14px 0 30px;
  }

  .form-status-list {
    margin: 1rem 0 3rem;
  }

}