.blog-articles {
  display: grid;
  grid-gap: 1rem;
  gap: 20px;
}

.blog-articles .card-wrapper {
  width: 100%;
}

.main-blog .pagination__list>li:not(:last-child) {
  margin-right: 2.2rem;
}

@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}



@media screen and (min-width: 750px) {
  
  .blog-articles {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 1200px) {
  
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

.main__blog--section h1,
.main__blog--section h1 * {
  color: #08024c;
  font-family: var(--font-body-family);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px; 
  letter-spacing: -2.1px;
  margin: 0;
}

.main__blog--section h1 {
  text-align: center;
  margin: 0 0 100px;
}

.main__blog--section h1 strong {
  color: var(--light-purple);
  display: block;
}

.template_blog main {
  position: relative;
}

.template_blog main:before {
  content: " ";
  width: 100%;
  position: absolute;
  background-image: url(/cdn/shop/files/pattern-before.png?v=1751880115);
  height: 448px;
  top: 0;
  display: block;
}



@media (max-width: 1199px) {

  .main__blog--section h1,
  .main__blog--section h1 * {
    font-size: 60px;
    line-height: 1.1;
  }
  
}

@media (max-width: 749px) {

  .main__blog--section h1,
  .main__blog--section h1 * {
    font-size: 50px;
  }

  .main__blog--section h1 * {
    letter-spacing: normal;
  }

  .main__blog--section h1 {
    margin: 0 0 50px;
  }

  .article-card .card__heading a {
    font-size: 20px;
    line-height: 24px;
  }

  .main-blog .pagination__list>li:not(:last-child) {
    margin-right: 1rem;
  }
  
}

@media (max-width: 430px) {

  .main__blog--section h1,
  .main__blog--section h1 * {
    font-size: 35px;
  }
  
}