.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  padding-bottom: 45px;
  display: block;
  position: relative;
}

@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }

  .footer-block.grid__item {
    padding: 0;
    margin: 4rem 0;
    width: 100%;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }

  .footer__content-top {
    padding-bottom: 3rem;
    padding-left: calc(4rem / var(--font-body-scale));
    padding-right: calc(4rem / var(--font-body-scale));
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}

.footer__content-bottom {
  border-top: solid 0.1rem rgba(var(--color-foreground), 0.08);
  padding-top: 3rem;
  position: relative;
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: center;
  }

  .footer__content-bottom.scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }
}

.footer__localization:empty + .footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  width: 100%;
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  align-items: flex-end;
  margin-bottom: 6rem;
  gap: 1rem;
}

.footer-block--newsletter:only-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer-block__heading {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

@media screen and (min-width: 990px) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  text-align: center;
  flex-grow: 1;
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

@media screen and (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
    margin-right: auto;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }
  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
  .footer-block__newsletter {
    padding-left: 53px !important;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    gap: 3rem;
  }

  .footer__list-social.list-social,
  .footer__follow-on-shop,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__content-bottom-wrapper--center {
  justify-content: center;
}

.footer__copyright {
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .footer__content-bottom-wrapper:not(.footer__content-bottom-wrapper--center) .footer__copyright {
    text-align: right;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

@media screen and (max-width: 989px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: 1.4rem;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

.footer-block-image {
  display: flex;
}

.footer-block-image.left {
  justify-content: flex-start;
}

.footer-block-image.center {
  justify-content: center;
}

.footer-block-image.right {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {
  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }
}

.footer-block__image-wrapper {
  margin-bottom: 2rem;
  overflow: hidden !important;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.footer-block__brand-info {
  text-align: left;
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block-image > img,
.footer-block__brand-info > img {
  height: auto;
}

.footer-block:only-child .footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: flex-start;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content {
  font-size: 1.1rem;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: '\00B7';
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}

@media screen and (min-width: 750px) {
  .policies li a {
    padding: 0;
  }
}
@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

/* Custom CSS: START */
.footer {
  overflow: hidden;
  position: relative;
}
.footer .pattern-left {
  top: unset;
  bottom: 0;
}
.footer .pattern-right {
  top: 0;
  bottom: unset;
}
.footer__gradient {
  display: block !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(180deg, rgba(var(--color-foreground), 0) 0%, var(--footer-gradient-color) 100%);
  pointer-events: none;
}
.footer-block__newsletter {
  background-color: rgb(var(--color-background));
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.footer-block__newsletter .footer-block__heading {
  font-family: var(--font-body-family);
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.8px;
  color: var(--newsletter-heading-color);
  text-transform: none;
  margin: 0;
  flex: 1;
  text-align: left;
}
.footer-block__newsletter .newsletter-form {
  max-width: unset;
  flex: 2;
}
.footer-block__newsletter .newsletter-form__field-wrapper {
  max-width: unset;
}
.footer-block__newsletter .newsletter-form__field-wrapper .field {
  gap: 20px;
  justify-content: flex-end;
}
.footer-block__newsletter .newsletter-form__field-wrapper .field:before,
.footer-block__newsletter .newsletter-form__field-wrapper .field:after {
  display: none;
}
.footer-block__newsletter .newsletter-form__field-wrapper .field__input {
  background: var(--grey);
  border: 1px solid rgba(35, 31, 32, 0.10);
  padding: 18px 36px 18px 70px;
  width: 100%;
  color: var(--dark-grey);
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  height: unset;
  min-height: unset;
  min-width: unset;
}
.footer-block__newsletter .newsletter-form__field-wrapper .field__input::placeholder {
  opacity: 1;
}
.footer-block__newsletter .input_wrap {
  position: relative;
  max-width: 500px;
  width: 100%;
}
.footer-block__newsletter .newsletter-a-symbol {
  position: absolute;
  left: 36px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--dark-grey);
  max-width: 24px;
  max-height: 24px;
}
.footer-block__newsletter .newsletter-a-symbol svg {
  width: 100%;
  height: 100%;
}
.footer-block__newsletter .newsletter-form__field-wrapper .field__label {
  display: none;
}
.footer-block__newsletter .newsletter-form__button {
  position: unset;
  width: unset;
  height: unset;
  background: rgb(var(--color-button)) !important;
  color: rgb(var(--color-button-text));
  padding: 18px;
  max-width: 190px;
  width: 100%;
}

.footer-block__brand-info {
  max-width: 446px;
}
.footer-block__brand-info .footer-block__image-wrapper {
  margin-bottom: 30px;
}
.footer-block__brand-info .footer-block__brand-description * {
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: rgb(var(--color-foreground));
}

.footer__blocks-wrapper .footer-block__heading {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.4px;
}
.footer-block__brand-info .brand-info__social-icons {
  margin: 40px 0 0;
  padding: 50px 0 0;
  position: relative;
}
.brand-info__social-icons .footer-block__heading {
  margin: 0 0 20px;
}
.footer-block__brand-info .brand-info__social-icons::before {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
}
.footer-block__brand-info .footer__list-social {
  gap: 10px;
}
.footer-block__brand-info .list-social__item {
  width: 56px;
  height: 56px;
  border-radius: 4.5px;
  border: 1px solid #D9D9D9;
  background: #fff;
  color: #3B469D;
}
.footer-block__brand-info .list-social__link {
  padding: 0;
  width: 100%;
  height: 100%;
  color: inherit;
  justify-content: center;
}

.footer__blocks-wrapper .footer-block--menu {
  max-width: 531px;
}
.footer__blocks-wrapper .footer-block--menu .footer-block__heading {
  margin: 0 0 45px;
}
.footer__blocks-wrapper .footer-block--menu .footer-block__details-content {
  column-count: 2;
  column-gap: 26px;
}
.footer__blocks-wrapper .footer-block--menu .footer-block__details-content li {
  margin: 0 0 16px;
}
.footer__blocks-wrapper .footer-block--menu .list-menu__item--link {
  padding: 0;
  text-decoration: none;
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgb(var(--color-foreground));
}

.footer__content-bottom {
  border: none;
  padding: 0;
}
.footer__content-bottom--page-width {
  border-top: 1px solid rgba(var(--color-foreground), 0.2);
  padding-top: 45px;
}
.footer__content-bottom .footer__copyright {
  margin: 0;
  width: 100%;
}
.footer__content-bottom .footer__copyright .copyright__content {
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  color: rgb(var(--color-foreground));
}
.footer-block__brand-info .footer-block__image-wrapper a {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-block__brand-info .footer-block__image-wrapper img {
  max-width: min(40vw, var(--max-width));
  width: 100%;
}
.footer-block__brand-info .footer-block__image-wrapper img:not(:first-child) {
  border-left: 1px solid rgb(var(--color-foreground));
  padding-left: 15px;
}

.footer .footer__disclosures {
  text-align: left;
  margin: 20px 0 0;
  border-top: 1px solid rgb(var(--color-foreground));
  border-bottom: 1px solid rgb(var(--color-foreground));
  padding: 15px 0 0;
}
.footer .footer__disclosures--title {
  font-size: 20px;
  line-height: 1.25;
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.footer .footer__disclosures--content {
  font-size: 12px;
  color: rgb(var(--color-foreground));
}
.footer .footer__disclosures--content * {
  color: inherit;
  font-size: inherit;
}


@media screen and (max-width: 1199px) {
  .footer-block__newsletter .footer-block__heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 991px) {
  .footer-block--newsletter {
    margin-bottom: 30px;
  }
  .footer-block__newsletter .newsletter-form {
    flex: 100%;
  }
  .footer-block__newsletter .newsletter-form__field-wrapper .field {
    justify-content: flex-start;
  }
  .footer__blocks-wrapper .footer-block {
    width: 100%;
  }
  .footer-block__brand-info {
    text-align: center;
    max-width: 100%;
  }
  .footer-block__brand-info .footer-block__image-wrapper {
    margin: 0 auto 30px;
  }
  .footer__blocks-wrapper .footer-block--menu {
    max-width: 100%;
  }
  .footer .footer-block__brand-info .footer__list-social {
    justify-content: center;
  }
  .footer-block__brand-info .footer-block__image-wrapper a {
    justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  .footer__content-top {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-block__newsletter .newsletter-form__field-wrapper .field__input {
    padding: 18px 18px 18px 52px;
  }
  .footer-block__newsletter .newsletter-a-symbol {
    left: 18px;
  }
  .footer-block__brand-info .brand-info__social-icons {
    margin: 30px 0 0;
    padding: 30px 0 0;
  }
  .brand-info__social-icons .footer-block__heading {
    margin: 0 0 20px;
  }
  .footer__blocks-wrapper .footer-block--menu .footer-block__heading {
    margin: 0 0 20px;
  }
  .footer__blocks-wrapper .footer-block--menu,
  .footer__blocks-wrapper .footer-block--menu .footer-block__details-content {
    margin-bottom: 0;
  }
  .footer__blocks-wrapper .footer-block--menu .list-menu__item--link {
    justify-content: center;
  }
  .footer__blocks-wrapper .footer-block__heading {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .footer-block__newsletter .newsletter-form__field-wrapper .field {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-block__newsletter .newsletter-form__field-wrapper .field__input,
  .footer-block__newsletter .newsletter-form__button {
    max-width: 100%;
  }
  .footer-block__newsletter .newsletter-form__field-wrapper .field__input {
    padding: 11px 18px 11px 46px;
  }
  .footer-block__newsletter .newsletter-a-symbol {
    max-width: 20px;
    max-height: 20px;
  }
  .footer-block__brand-info .footer-block__brand-description * {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__blocks-wrapper .footer-block--menu .footer-block__details-content {
    column-count: 1;
  }
  .footer__blocks-wrapper .footer-block--menu .list-menu__item--link {
    font-size: 16px;
    line-height: 32px;
  }
}
/* Custom CSS: END */