.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.template_article #MainContent {
  position: relative;
}
.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 52rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
  color: #000;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}


.article-template .article-tags {
  position: relative;
  z-index: 1;
}

.article-template .article-tags a {
  background: var(--pink);
  color: var(--white);
  padding: 6px 11px;
}

.article-template header {
  margin: 0 0 80px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.article-card__info span {
  color: var(--black);
  font-family: var(--font-body-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: normal;
}

.article-card__info span svg {
  margin-right: 11px;
}

.article-card__info .circle-divider:after {
  margin: 0 2.5rem 0 2.5rem;
  content: "";
  width: 1px;
  height: 24px;
  background: #d9d9d9;
  display: inline-block;
}

.article-card__info .circle-divider:only-child:after {
  display: none;
}

.post__sidebar--wrapper {
  display: flex;
  gap: 68px;
}

.post__sidebar--wrapper {
  display: flex;
  gap: 68px;
}

.post__sidebar--left {
  flex: 1;
}

.sidebar--block {
  background: #2E3490;
  box-shadow: 0px 10px 35px 10px rgba(0, 0, 0, 0.07);
  padding: 30px;
}

.sidebar--block .block--heading {
  color: var(--white);
  font-family: var(--font-body-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.article-share {
  display: flex;
  margin: 0 -28px;
}

.article-share .share--icon {
  flex: 1;
  padding: 0 28px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-flex;
  align-items: center;
}

.article-share .share--icon:last-child {
  border: none;
}

.post__sidebar--right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.recent__blog--item {
  display: flex;
  gap: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.recent__blog--item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.recent__blog--item img {
  display: block;
  border-radius: 10px;
}

.recent__blog--item p {
  color: var(--white);
  font-family: var(--font-body-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
}

.featured-article-card img {
  width: 100%;
  min-height: 389px;
  object-fit: cover;
}

.featured__post--wrapper {
  padding: 0 !important;
  overflow: hidden;
}

.featured-article-info {
  padding: 0 30px 38px;
  color: var(--white);
  position: relative;
  margin-top: -38px;
}

.featured-article-info .block--heading {
  color: var(--white);
  font-family: var(--font-body-family);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0;
  max-width: 270px;
  border: none;
}

.featured-article-info p {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  line-height: 40px;
  font-family: var(--font-body-family);
  font-weight: 400;
  margin: 0 0 38px;
  border-top: 1px solid rgba(255, 255, 255, .5);
  padding-top: 30px;
}

.featured-article-card a {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.featured-article-card a:before {
  content: '';
  background-image: url(https://cdn.shopify.com/s/files/1/0929/8165/7902/files/overlay-image.svg?v=1751982957);
  width: 100%;
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  bottom: -8%;
}

.article-template__content {
  padding: 0;
  margin: 60px 0 0;
}

.article-template__content.rte p {
  line-height: 30px;
}

.article-template__content.rte h2 {
  margin-top: 45px;
  font-size: 40px;
  line-height: normal;
}

.article-template__content.rte h3 {
  font-weight: 700;
}

.article-template__content.rte ul,
.article-template__content.rte ol {
  padding-left: 2.8rem;
}

.article-template__content.rte ul li,
.article-template__content.rte ol li {
  list-style-position: outside;
}

.article-template__content.rte blockquote {
  flex-direction: column;
  border-left: 6px solid;
  border-color: var(--pink);
  padding-left: 24px;
  margin-left: 0;
  color: var(--black);
  font-family: var(--font-body-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
}

.article-template__content.rte blockquote strong {
  font-weight: 700;
  font-style: italic;
}

.template_article main:before {
  content: " ";
  width: 100%;
  position: absolute;
  background-image: url(/cdn/shop/files/pattern-before.png?v=1751880115);
  height: 448px;
  top: 0;
  display: block;
}

.related__blog--posts .blog__title {
  letter-spacing: -1.1px;
}

@media (min-width: 1200px) {
  
  .post__sidebar--right {
    flex: 0 1 385px;
    max-width: 385px;
  }
  
}

@media (max-width: 1366px) {
  .article-template__content.rte h2 {
    margin-top: 41px;
  }
}


@media (max-width: 1199px) {

  .article-share {
    margin: 0 -20px;
  }

  .article-share .share--icon {
    padding: 0 20px;
  }

  .post__sidebar--wrapper {
    gap: 20px;
  }

  .post__sidebar--right {
    max-width: 350px;
  }

  .article-template__content.rte h2 {
    margin-top: 32px;
  }
  
}

@media (max-width: 989px) {

  .article-share .share--icon {
    text-align: center
  }

  .sidebar--block .block--heading {
    text-align: center;
  }

  .sidebar--block {
    padding: 20px;
  }

  .post__sidebar--wrapper {
    display: block;
  }

  .post__sidebar--right {
    margin: 40px auto 0;
    max-width: 500px;
  }

  .featured-article-card a:before {
    display: none;
  }

  .featured-article-info {
    margin: 0;
  }

  .featured-article-info .block--heading {
    max-width: 100%;
    text-align: left;
    margin: 30px 0;
  }

  .article-template__content.rte h2 {
    font-size: 30px !important;
  }
  
}

@media (max-width: 749px) {
  .article-template__title {
    letter-spacing: normal;
  }
}

@media (max-width: 430px) {
  .article-template__title {
    font-size: 35px;
  }
  .article-template header {
    gap: 40px;
    margin-bottom: 40px !important;
  }
}