.survival__stats--wrapper {
  display: flex;
}

.survival__stats--item {
  flex: 0 1 33.33%;
  padding: 80px 98px;
  max-width: 33.33%;
}

.survival__stats--item {
  display: flex;
  gap: 45px;
}

.survival__stats--wrapper .stat-heading {
  font-family: var(--font-body-family);
  padding-bottom: 40px;
  margin-bottom: 30px;
  position: relative;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  margin-top: 12px;
}

.survival__stats--wrapper .stat-heading:before {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
}

.survival__stats--wrapper .stat-text {
  font-family: var(--font-body-family);
  font-size: 36px;
  font-style: italic;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.72px;
}

.survival__stats--wrapper .stat-heading strong {
    font-size: 36px;
    line-height: 48px;
    margin-left: 2px;
  font-weight: 700;
}

@media (max-width:1600px) {
  
  .survival__stats--item {
    padding: 80px 40px 100px;
  }

  .survival__stats--wrapper .stat-heading {
    font-size: 70px;
  }

  .survival__stats--wrapper .stat-text {
    font-size: 32px;
    line-height: 38px;
  }
  
}

@media screen and (max-width:1366px) {
  .survival__stats--wrapper .stat-heading {
    font-size: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .survival__stats--item {
    padding: 60px 25px 80px;
  }
}

@media (max-width: 1200px) {
  
    .survival__stats--item {
        padding: 60px 25px 80px;
        gap: 20px;
    }

    .stat-icon img {
        max-width: 60px;
        object-fit: contain;
        object-position: top;
        height: auto;
    }

    .survival__stats--wrapper .stat-heading {
        font-size: 50px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .survival__stats--wrapper .stat-text {
        font-size: 26px;
        line-height: 32px;
    }
  
}

@media (min-width: 750px) and (max-width: 989px) {
    .survival__stats--item {
        flex-direction: column;
    }
}

@media (max-width:749px) {

  .survival__stats--wrapper {
      flex-direction: column;
  }

  .survival__stats--item {
    flex: 1;
    max-width: 100%;
  }

  .survival__stats--item {
    padding: 40px;
  }

}

