@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}


.featured__collection .collection__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.featured__collection .collection__title .h2 {
  margin: 0;
}




.product-grid-container .button__price--wrapper .button--primary {
  font-size: 14px;
  padding: 6px 15px;
}

.product-grid-container .grid {
    --grid-desktop-horizontal-spacing:30px;
    --grid-desktop-vertical-spacing:30px;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
}

.product-count.light {
    opacity: 1;
}

@media screen and (max-width: 1440px) {

  .product-grid-container .button__price--wrapper .button--primary {
      letter-spacing: 1px;
      font-size: 12px;
      padding: 6px 15px;
      line-height: 33px;
      min-height: 25px;
  }

  .product-grid-container .product-card-wrapper .price__regular, .product-grid-container .price-item.price-item--sale.price-item--last {
      font-size: 18px;
  }
  
  .product-grid-container .grid__item .product-card-wrapper .card__content {
      padding: 25px 10px 25px;
      width: auto;
  }

  .product-grid-container .grid {
      --grid-desktop-horizontal-spacing:20px;
      --grid-desktop-vertical-spacing:20px;
      column-gap: var(--grid-desktop-horizontal-spacing);
      row-gap: var(--grid-desktop-vertical-spacing);
  }

}

@media screen and (max-width: 749px) {

  .product-grid-container ul#product-grid {
      flex-direction: column;
  }

  .product-grid-container ul#product-grid li.grid__item {
    max-width: 100%;
    width: 100%;
  }

  .product-grid-container ul#product-grid .card__heading {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
  }

  .product-grid-container ul#product-grid .card__content .card__information p {
      font-size: 16px;
      line-height: 26px;
  }

  .product-grid-container .grid {
    --grid-desktop-horizontal-spacing:15px;
    --grid-desktop-vertical-spacing:15px;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }

}

.product-count {
  display: none;
}